@import './base.css';
@import './fonts.css';
* {
  box-sizing: border-box;
}
body {
  position: relative;
  background-color: #070f17;
}

.snow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 150vh;
}

.wrp {
  /* background-color: #070f17; */
  /* padding: 0 35px; */
  width: 100%;
}

.canvas {
  width: 100%;
  background: #070f17;
}

.container {
  /* max-width: 1440px; */
  /* margin: 0 auto; */
  padding: 0 70px;
  @media (max-width: 1440px) {
    padding: 0 70px;
  }
  @media (max-width: 1024px) {
    padding: 0 30px;
  }
  @media (max-width: 576px) {
    padding: 0 15px;
  }
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
